body {
  margin: 0;
  overflow: hidden;
}
.stage {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #33cccc;
  top: 0;
  z-index: -1;
}

.hero,
.chicken {
  position: absolute;
  z-index: 100;
  top: 50px;
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
  border: 1px solid #239874;
}

.hero > img,
.chicken > img {
  width: 60px;
  overflow: hidden;
}
